body{
    background: #1e1f24;
    text-align: center;
    color: hsl(229, 100%, 54%);
    font-family: "Arial";
    font-size: 16px;
    margin: 0px;
}

.container 
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid wheat;
    margin: 0  auto;
}
.container h1
{
    font-size: 20px;
}
.header
{
    background: #33a;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0p 2px 20px 0px rgba(0,0,0,0.75);

}
.tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8rem;

}

footer
{
    text-align: center;
    margin-top: 60px;
    background-color: rgb(163, 165, 236);
    padding: 0.5em;
}