body{
    text-align: center;
    color: hsl(229, 100%, 54%);
    font-family: "Arial";

}

.container 
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid wheat;
    margin: 0  auto;
}
.container h1
{
    font-size: 20px;
}
.header
{
    background-color: burlywood;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);

}
.tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8rem;

}